.light-green-back {
  background-color: #4d654a;
  border-radius: 5px 0 0 5px;
  min-height: 955px;
}

.faqs-holder {
  background-color: #0D3C48;
  border-radius: 0 5px 5px 0;
  color: #FFF;
  padding: 0;
}

.faqs-holder h4 {
  font-style: italic;
}

.faqs-bar {
  background-image: url('../../assets/img/faqs.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  background-position-x: 90%;
}

.question-separator {
  background-color: #006376;
}

.pad-20 {
  padding: 10px;
}
