<div class="col-md-12 col-xs-12">
  <div class="col-md-1 light-green-back"></div>
  <div class="col-md-10 col-xs-12 faqs-holder">
    <div class="question-separator pad-20">
      <h4>¿Cuándo se entrega la casa?</h4>
      <p>La casa se entrega cuando se integra el 50% del valor total de la misma. Puede ser el número de pagos que desees, con un máximo de 170 (puede variar la cantidad según el emprendimiento).</p>
    </div>
    <div class="pad-20">
      <h4>¿Hay refuerzos o cuotas extraordinarias?</h4>
      <p>No. No son obligatorios refuerzos o cuotas extraordinarias. Si lo deseas podés hacer adelantos y delantar los plazos de pago.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Se puede abonar el 50% en un solo pago?</h4>
      <p>Sí, se puede. Como la casa no está construída todavía, te entregamos la propiedad 10 meses después, que es el tiempo que demoramos en construirla.</p>
    </div>
    <div class="pad-20">
      <h4>¿Cuánto demoran en construir la casa?</h4>
      <p>La casa se construye en 10 meses.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Se pueden adelantar cuotas?</h4>
      <p>Sí, se pueden adelantar cuotas.</p>
    </div>
    <div class="pad-20">
      <h4>¿Hay recargo o penalidad por adelantar cuotas?</h4>
      <p>No, no hay recargo por adelantar pagos.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Qué pasa si no quiero pagar más el plan?</h4>
      <p>Se comercializa el plan y el producto de la venta menos las comisiones se recupera.</p>
    </div>
    <div class="pad-20">
      <h4>¿Construyen en mi terreno? ¿Amplían mi casa?</h4>
      <p>No, no construimos en terrenos ajenos.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Qué pasa si la casa tiene algún defecto de construcción?</h4>
      <p>La reparamos sin costo por 10 años. Nuestras casas están garantizadas por 10 años.</p>
    </div>
    <div class="pad-20">
      <h4>¿Una vez que entretaron la casa puedo ampliar?</h4>
      <p>Se puede amplar siempre respetando los reglamentos municipales correspondientes y el estilo arquitectónico.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Puedo elegir las terminaciones de mi casa?</h4>
      <p>Si, se pueden elegir las terminaciones, pisos, aberturas, griferías, revestimientos, etc.</p>
    </div>
    <div class="pad-20">
      <h4>¿Puedo cambiar el modelo de mi casa?</h4>
      <p>Sí, antes de empezar a construir podemos hacer las reformas necesarias para tu comodidad.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Venden terrenos?</h4>
      <p>No, vendemos casa y lote en nuestros barrios.</p>
    </div>
    <div class="pad-20">
      <h4>¿Puedo alquilar la casa antes de terminar de pagarla?</h4>
      <p>Sí, se puede alquilar.</p>
    </div>
    <div class="question-separator pad-20">
      <h4>¿Hace cuánto tiempo que hacen barrios?</h4>
      <p>Hace 25 años que construimos barrios en la provincia de Santa Fe, Entre Ríos, y Buenos Aires.</p>
    </div>
  </div>
  <div class="col-md-1 faqs-bar"></div>
</div>
