.show-info {
  position: relative;
}

carousel {
  min-height: 400px;
  display: block;
}

.carousel-height {
  height: 600px;
}

.carousel-height .hiden-info {
  width: 100%;
  min-height: 200px;
  background-color: #51626d;
  opacity: 0.9;
  color: #FFF;
  padding: 10px;
  margin-top: 25px;
  display: none;
}

.center-pagination {
  margin: 0 auto;
  width: 25%;
  display: block;
  height: 80px;
}

.cursor {
  cursor: pointer;
}

.cursor.active {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.thumbnail {
  overflow: hidden;
  height: 230px;
}

.parana-separator {
  background-image: url('../../assets/img/barrios/barra.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 230px;
  background-position-x: center;
}

.main-image {
  position: fixed;
  top: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 11;
  left: 0;
  background-color: #000;
  padding: 50px;
  height: 100%;
  cursor: pointer;
}

.main-image img {
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.p-0 {
  padding: 0;
}
