<div class="col-md-12 col-xs-12">
  <form class="col-md-8 col-xs-12" #contactForm="ngForm" (submit)="onSubmit(contactModel)">
    <h4>formulario de contacto</h4>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="name">nombre</label>
        <input placeholder="{{contactModel.name}}" [(ngModel)]="contactModel.name" [ngModelOptions]="{standalone: true}" #name="ngModel" type="text" class="form-control" id="name" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          el nombre es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="mail">email</label>
        <input placeholder="{{contactModel.mail}}" [(ngModel)]="contactModel.mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngModelOptions]="{standalone: true}" #mail="ngModel" type="text" class="form-control" id="mail" required>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
          el email es obligatorio o inválido
        </div>
      </div>
      <div class="form-group">
        <label for="telefono">teléfono</label>
        <input placeholder="{{contactModel.telefono}}" [(ngModel)]="contactModel.telefono" pattern="[0-9]*" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="telefono" #telefono="ngModel" required>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
          el teléfono es obligatorio o inválido
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="interes">interes</label>
        <select [(ngModel)]="contactModel.interes" [ngModelOptions]="{standalone: true}" class="form-control" id="interes">
          <option *ngFor="let interes of intereses" [ngValue]="interes">{{interes}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="consulta">consulta</label>
        <textarea placeholder="{{contactModel.consulta}}" [(ngModel)]="contactModel.consulta" [ngModelOptions]="{standalone: true}" #consulta="ngModel" class="form-control" name="consulta" rows="5" cols="80" id="consulta" required></textarea>
        <div *ngIf="consulta.invalid && (consulta.dirty || consulta.touched)" class="alert alert-danger">
          este campo es obligatorio
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">enviar</button>
  </form>
  <div class="col-md-4 col-xs-12 information-holder">
    <h3>Información de contacto</h3>
    <p>También puede contactarse personalmente con nosotros pasando por nuestras oficinas o llamando por teléfono.</p>
    <p>25 de Junio 167 - Paraná - Entre Ríos</p>
    <p>Lunes - Miércoles - Viernes 9:00 hs. a 16.30 hs.</p>
    <p>Tel: (0343) 4267453 - (0343) 154 669606</p>
  </div>
</div>
