<div class="col-md-12 col-xs-12">
  <h4>formulario de contacto</h4> {{diagnostic}}
  <form class="col-md-8 col-xs-12" #contactForm="ngForm">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="name">nombre</label>
        <input [(ngModel)]="contactModel.name" [ngModelOptions]="{standalone: true}" #name="ngModel" type="text" class="form-control" id="name" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          el nombre es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="mail">email</label>
        <input [(ngModel)]="contactModel.mail" [ngModelOptions]="{standalone: true}" #name="ngModel" type="text" class="form-control" id="mail" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          el email es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="telefono">telefono</label>
        <input [(ngModel)]="contactModel.telefono" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="telefono">
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="interes">interes</label>
        <select [(ngModel)]="contactModel.interes" [ngModelOptions]="{standalone: true}" class="form-control" id="interes">
          <option *ngFor="let interes of intereses" [value]="interes">{{interes}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="consulta">consulta</label>
        <textarea [(ngModel)]="contactModel.consulta" [ngModelOptions]="{standalone: true}" #name="ngModel" class="form-control" name="name" rows="5" cols="80" id="consulta" required></textarea>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          este campo es obligatorio
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">enviar</button>
  </form>
</div>
