.alert-danger {
  margin: 10px 0;
  font-size: 14px;
  padding: 8px;
  text-transform: capitalize;
}

.information-holder {
  background-color: #5c7157;
  color: white;
  min-height: 260px;
  border-radius: 5px;
}

.form-classes {
  text-transform: capitalize;
}
