.page-holder {
  width: 90%;
  margin: 20px auto;
}

.main-content-holder {
  border-right: 10px solid #253b48;
}

/**
 * for mobile devices
 */

@media only screen and (max-width: 768px) {
  .vertical-divider {
    border-right: none;
    border-bottom: 1px solid #FFF;
  }
  .main-content-holder {
    border: none;
  }
  .financiacion-holder {
    display: none;
  }
  .navigation-list {
    display: block;
  }
  .navigation-list li {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
  }
}
