.page-holder {
  width: 90%;
  margin: 20px auto;
}

.main-content-holder {
  border-right: 10px solid #253b48;
  padding-bottom: 25px;
}

footer {
  background-color: #253b48;
  height: 20px;
  text-align: right;
  color: #fff;
}

footer small a {
  color: #fff;
}

.empresa-holder {
  color: #FFF;
  background-color: #5c7157;
  min-height: 174px;
  padding-top: 25px;
}


/**
 * for mobile devices
 */

@media only screen and (max-width: 768px) {
  .vertical-divider {
    border-right: none;
    border-bottom: 1px solid #FFF;
  }
  .main-content-holder {
    border: none;
  }
  .financiacion-holder, .compromiso-holder {
    display: none;
  }
  .navigation-list {
    display: block;
    margin: 0;
  }
  .navigation-list li {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
  }
  .center-pagination {
    width: 60%;
  }
  .show-info {
    width: 90%;
    margin-bottom: 20px;
  }
}
