<div class="empresa-holder col-md-11">
  <h3 class="col-md-12 col-xs-12">Más de 25 años construyendo barrios en la región</h3>
  <p class="col-md-7 col-xs-12">
    Somos una empresa familiar que ofrece una alternativa de excelente relación de precio, calidad y financiación para la casa propia y/o inversión.
  </p>
  <p class="col-md-7 col-xs-12">
    Nuestra experiencia nos hace saber cuál es la mejor opción en cada caso particular, por eso asesoramos y proyectamos a la medida de su necesidad.
  </p>
</div>
<div class="compromiso-holder col-md-1"></div>
