.navigation-bar {
  background-color: #4d654a;
}

.navigation-item {
  color: #FFF;
  text-transform: uppercase;
}

.navigation-list {
  display: table;
  width: 100%;
}

.navigation-list li {
  display: table-cell;
  float: none;
  text-align: center;
}

.navigation-item:hover {
  color: #000;
}

.vertical-divider {
  border-right: 1px solid #FFF;
}

.green-divider {
  height: 20px;
  background-color: #253b48;
  border-radius: 5px;
  margin-bottom: 40px;
}
