<nav class="navbar navigation-bar col-md-12 col-xs-12">
  <ul class="navbar-nav nav navigation-list">
    <li *ngFor="let item of navigationItems; let last = last" [ngClass]="{ 'vertical-divider' : !last }">
      <a *ngIf="item.title !== 'casas'" class="navigation-item" href="{{item.link}}">{{item.title}}</a>
      <a *ngIf="item.title === 'casas'" class="navigation-item dropdown" href="{{item.link}}">
        <span class="dropdown-toggle" data-toggle="dropdown">{{item.title}}</span>
        <ul class="dropdown-menu">
          <li class="border-bottom"><a href="#">proyectos</a></li>
          <li class="border-bottom"><a href="#">casa propia</a></li>
          <li><a href="#">barrio</a></li>
        </ul>
      </a>
    </li>
  </ul>
</nav>
<div class="green-divider col-md-12 col-xs-12"></div>
