.navigation-bar {
  background-color: #4d654a;
}

.navigation-item {
  color: #FFF;
  text-transform: uppercase;
}

.navigation-item:hover {
  color: #FFF;
  text-transform: uppercase;
  background-color: #82947d;
}

.navigation-list {
  display: table;
  width: 100%;
}

.navigation-list li {
  display: table-cell;
  float: none;
  text-align: center;
}

.navigation-item:hover {
  color: #000;
}

.vertical-divider {
  border-right: 1px solid #FFF;
}

.green-divider {
  height: 20px;
  background-color: #253b48;
  border-radius: 5px;
  margin-bottom: 40px;
}

.dropdown-menu {
  background-color: #4d654a;
}

.navigation-item.dropdown:hover .dropdown-menu {
  display: block;
  top: 97%;
}

.navigation-item.dropdown .dropdown-menu li {
  display: block;
  text-align: left;
}

.navigation-item.dropdown .dropdown-menu li.border-bottom {
  border-bottom: 1px solid #FFF;
}

.navigation-item.dropdown .dropdown-menu li a {
  color: #FFF;
}

.navigation-item.dropdown .dropdown-menu li a:hover {
  background-color: #82947d;
  color: #333;
}
